
azure-cognitiveservices-vision-computervision
azure-common
dj-database-url
msrest
Pillow
requests
sqlparse
whitenoise
asgiref
pytz
dj-database-url
Django==3.0
django-heroku
gunicorn
python-decouple
python-docx
